<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nodejs </title>
	<%- include('blocks/links') %>
</head>
<body>
  <%- include('blocks/header') %>
	<div class="rev-slider">
  <%- include('blocks/slider')%>
	<div class="container">
		<div id="content" class="space-top-none">
			<div class="main-content">
				<div class="space60">&nbsp;</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="beta-products-list">
							<h4>New Products</h4>
							<div class="beta-products-details">
								<p class="pull-left">Latest Products</p>
								<div class="clearfix"></div>
							</div>

							<div class="row">
								<% for(i in news){ %>
								<div class="col-sm-3 products">
									<div class="single-item">
										<div class="single-item-header">
											<a href="/products/detail/<%= news[i].id %>"><img src='/images/product/<%= news[i].image%>' height="250px"></a>
										</div>
										<div class="single-item-body">
											<p class="single-item-title"><%= news[i].name%></p>
											<p class="single-item-price">
												<span><%= news[i].unit_price%> vnđ</span>
											</p>
										</div>
										<div class="single-item-caption">
											<button type="button" class="add-to-cart pull-left" value="<%= news[i].id %>"><i class="fa fa-shopping-cart"></i></button>
											<a class="beta-btn primary" href="products/detail/<%= news[i].id %>">Details <i class="fa fa-chevron-right"></i></a>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<% }; %>
								
							</div>
						</div> <!-- .beta-products-list -->

						<div class="space50">&nbsp;</div>

						<div class="beta-products-list">
							<h4>Sale Products</h4>
							<div class="beta-products-details">
								<p class="pull-left">Latest sale products</p>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<% for(i = 0; i < 4; i++){ %>
									<div class="col-sm-3 products">
										<div class="single-item">
											<% if(olds[i].promotion_price != 0) { %>
												<div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
											<%}%>
											<div class="single-item-header">
												<a href="/products/detail/<%= olds[i].id %>"><img src="/images/product//<%= olds[i].image %>" height="250px"></a>
											</div>
											<div class="single-item-body">
												<p class="single-item-title"><%= olds[i].name %></p>
												<p class="single-item-price">
													<% if(olds[i].promotion_price != 0){ %>
														<span class="flash-del"><%= olds[i].unit_price %> vnđ</span>
														<span class="flash-sale"><%= olds[i].promotion_price %> vnđ</span>
													<% } %>

												</p>
												
											</div>
											<div class="single-item-caption">
												<button type="button" class="add-to-cart pull-left" value="<%= olds[i].id %>"><i class="fa fa-shopping-cart"></i></button>
												<a class="beta-btn primary" href="/products/detail/<%= olds[i].id %>">Details <i class="fa fa-chevron-right"></i></a>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								<% } %>
							</div>
							<div class="space40">&nbsp;</div>
							<div class="row">
									<% for(i = 7; i > 3; i--){ %>
										<div class="col-sm-3 products">
											<div class="single-item">
												<% if(olds[i].promotion_price != 0) { %>
													<div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
												<%}%>
												<div class="single-item-header">
													<a href="/products/detail/<%= olds[i].id %>"><img src="/images/product//<%= olds[i].image %>" height="250px"></a>
												</div>
												<div class="single-item-body">
													<p class="single-item-title"><%= olds[i].name %></p>
													<p class="single-item-price">
														<% if(olds[i].promotion_price != 0){ %>
															<span class="flash-del"><%= olds[i].unit_price %> vnđ</span>
															<span class="flash-sale"><%= olds[i].promotion_price %> vnđ</span>
														<% } %>
	
													</p>
													
												</div>
												<div class="single-item-caption">
													<button type="button" class="add-to-cart pull-left" value="<%= olds[i].id %>"><i class="fa fa-shopping-cart"></i></button>
													<a class="beta-btn primary" href="/products/detail/<%= olds[i].id %>">Details <i class="fa fa-chevron-right"></i></a>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									<% } %>
							</div>
						</div> <!-- .beta-products-list -->
					</div>
				</div> <!-- end section with sidebar and main content -->


			</div> <!-- .main-content -->
		</div> <!-- #content -->
	</div> <!-- .container -->
 	<%- include('blocks/footer') %>
	<%- include('blocks/links_javascript') %>

	<!-- include js files -->
</body>
</html>
