<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nodejs </title>
	<%- include('blocks/links') %>
</head>
<body>
	<%- include('blocks/header') %>
	<div class="inner-header">
		<div class="container">
			<div class="pull-left">
				<h6 class="inner-title">Sản phẩm</h6>
			</div>
			<div class="pull-right">
				<div class="beta-breadcrumb font-large">
					<a href="index.html">Home</a> / <span>Sản phẩm</span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="container">
		<div id="content" class="space-top-none">
			<div class="main-content">
				<div class="space60">&nbsp;</div>
				<div class="row">
					<div class="col-sm-3">
						<ul class="aside-menu">
							<% for(i in typesProduct) {%>
								<li><a href="/types/<%= typesProduct[i].id %>"></a><%= typesProduct[i].name %></li>
							<% } %>
						</ul>
					</div>
					<div class="col-sm-9">
						<div class="beta-products-list">
							<h4>Result Products</h4>
							<div class="beta-products-details">
								<p class="pull-left"><%= products.length %> Products has found</p>
								<div class="clearfix"></div>
							</div>

							<div class="row">
								<% for(i=0; i<3; i++) { %>
									<div class="col-sm-4">
										<div class="single-item">
											<div class="single-item-header">
												<a href="/products/detail/<%= products[i].id %>"><img src='/images/product/<%= products[i].image%>' height="250px"></a>
											</div>
											<div class="single-item-body">
												<p class="single-item-title"><%= products[i].name%></p>
												<p class="single-item-price">
													<span><%= products[i].unit_price%> vnđ</span>
												</p>
											</div>
											<div class="single-item-caption">
												<button type="button" class="add-to-cart pull-left" value="<%= products[i].id %>"><i class="fa fa-shopping-cart"></i></button>
												<a class="beta-btn primary" href="/products/detail/<%= products[i].id %>">Details <i class="fa fa-chevron-right"></i></a>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								<% } %>
							</div>
						</div> <!-- .beta-products-list -->

						<div class="space50">&nbsp;</div>

						<div class="beta-products-list">
							<h4>Random Products</h4>
							<div class="beta-products-details">
								<p class="pull-left"><%= randomProducts.length %> styles found</p>
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<% for(i in randomProducts) { %>
									<div class="col-sm-4">
										<div class="single-item">
											<% if(randomProducts[i].promotion_price != 0) { %>
												<div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>
											<%}%>
											<div class="single-item-header">
												<a href="/products/detail/<%= randomProducts[i].id %>"><img src='/images/product/<%= randomProducts[i].image%>' height="250px"></a>
											</div>
											<div class="single-item-body">
												<p class="single-item-title"><%= randomProducts[i].name %></p>
												<p class="single-item-price">
													<% if(randomProducts[i].promotion_price != 0){ %>
														<span class="flash-del"><%= randomProducts[i].unit_price %> vnđ</span>
														<span class="flash-sale"><%= randomProducts[i].promotion_price %> vnđ</span>
													<% } %>
												</p>
											</div>
											<div class="single-item-caption">
												<button type="button" class="add-to-cart pull-left" value="<%= randomProducts[i].id %>"><i class="fa fa-shopping-cart"></i></button>
												<a class="beta-btn primary" href="/products/detail/<%= randomProducts[i].id %>">Details <i class="fa fa-chevron-right"></i></a>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								<% } %>
							</div>
							<div class="space40">&nbsp;</div>
							
						</div> <!-- .beta-products-list -->
					</div>
				</div> <!-- end section with sidebar and main content -->


			</div> <!-- .main-content -->
		</div> <!-- #content -->
	</div> <!-- .container -->

	<%- include('blocks/footer') %>
	<%- include('blocks/links_javascript') %>
</body>
</html>
