<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nodejs</title>
    <%- include('blocks/links') %>
</head>
<body>
	<%- include('blocks/header') %>
	<!---------------MODAL------------>
	<div class="modal fade" id="datHangThanhCong" role="dialog">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header well">
			  <h4 class="modal-title"><strong>Đặt hàng thành công !</strong></h4>
			</div>
			<div class="modal-body" id="thongTinDonHang">
				<div class="col-md-6">
					<div class="col-md-12">
						Họ tên : <i id="tenKhHd"></i>
					</div>
					<div class="col-md-12">
						Địa chỉ : <i id="diaChiKhHd"></i>
					</div>
					<div class="col-md-12">
						Số điện thoại : <i id="soDtKhHd"></i>
					</div>
					<div class="col-md-12">
						Email : <i id="emailKhHd"></i>
					</div>
					<div class="col-md-12">
						Hình thức thanh toán: <i id="cachThanhToanHd"></i>
					</div>
				</div>
				<div class="col-md-6">
					<div class="col-md-12">
						 <div class="col-md-12">
								 <table class="table">
								  <thead>
									<tr>
									  <th>Tên sản phẩm </th>
									  <th>Số Lượng</th>
									  <th>Đơn giá</th>
									</tr>
								  </thead>
								  <tbody id="item_payment_table">
								 
								  </tbody>
							</table>
						 </div>
					  <div class="col-md-12">
						  <div class="col-md-4">
  
						  </div>
						  <div class="col-md-5">
							Tổng thanh toán :
						  </div>
						  <div class="col-md-3">
							<i id="tongThanhToanHD"></i><u>đ</u>
						  </div>
					  </div>
					</div>
				</div>
				<div class="col-md-12" id="loiCamOn">
					<strong>Cảm ơn bạn đã ủng hộ cửa hàng chúng tôi. Sản phẩm sẽ sớm được chuyển đến bạn...</strong>
				</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" id="closeDatHangThanhCong">Close</button>
			</div>
		  </div>
		</div>
	  </div>
	<!-------------------------------->
	<div class="inner-header">
		<div class="container">
			<div class="pull-left">
				<h6 class="inner-title">Shopping Cart</h6>
			</div>
			<div class="pull-right">
				<div class="beta-breadcrumb font-large">
					<a href="/">Home</a> / <span>Shopping Cart</span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	<div class="container">
		<div id="content">
			
			<div class="table-responsive">
				<!-- Shop Products Table -->
				<table class="shop_table beta-shopping-cart-table" cellspacing="0">
					<thead>
						<tr>
							<th class="product-name">Product Name</th>
							<th class="product-price">Price</th>
							<th class="product-quantity">Qty</th>
							<th class="product-quantity">Total Price</th>
							<th class="product-remove">Remove</th>
						</tr>
					</thead>
					<tbody>
						<% for(i in cartTotal) { %>
							<tr class="cart_item" id="item<%= cartTotal[i].productId %>">
								<td class="product-name">
									<div class="media">
										<img class="pull-left" src='/images/product/<%= cartTotal[i].image %>' height="50px">
										<div class="media-body">
											<p class="font-large table-title"><%= cartTotal[i].productName %></p>
										</div>
									</div>
								</td>
								<td class="product-price">
									<span class="amount"><%= cartTotal[i].productPrice %> vnđ</span>
								</td>
								<td class="product-quantity">
									<div class="form-group has-success has-feedback" style="max-width: 100px;">
										<label class="control-label" for="inputSuccess2"></label>
										<input type="text" class="form-control cart_update" id="<%= cartTotal[i].productId %>" value="<%= cartTotal[i].quantity %>"/>
										<span class="form-control-feedback loader"><img src="/images/etc/loader.gif" ></span>
									</div>
								</td>
								<td class="product-price">
									<span class="amount"><%= cartTotal[i].productPrice * cartTotal[i].quantity %> vnđ</span>
								</td>
								<td class="product-remove">
									<button class="cart_remove" value="<%= cartTotal[i].productId %>"><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
						<% } %>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6" class="actions"></td>
						</tr>
					</tfoot>
				</table>
				<!-- End of Shop Table Products -->
			</div>
			<!-- Cart Collaterals -->
			<div class="cart-collaterals">
				<!-- <form class="shipping_calculator pull-left" action="#" method="post">
				</form> -->
				<div class="col-md-8">
					<div id="normal_checkout" class="collapse">
						<form role="form" id="form-thanh-toan" action="#" method="post">
							<div class="col-md-6">
								<div class="form-group">
									<label for="">Your name *</label>
									<input type="text" class="form-control" id="customer_name" name="customer_name" placeholder="full name">
								</div>
								<div class="form-group">
									<label for="exampleInputPassword1">Location recive *</label>
									<input type="text" class="form-control" id="customer_address" name="customer_address" placeholder="address">
								</div>
								<div class="form-group">
									<label for="">Phone *</label>
									<input type="text" class="form-control" id="customer_phone" name="customer_phone" placeholder="phone">
								</div>
								<div class="form-group">
									<label for="">Email</label>
									<input type="text" class="form-control" id="customer_email" name="customer_email" placeholder="email">
								</div>
								<div class="form-group">
								  <label for="sel1">Type of payment</label>
								  <select class="form-control" id="sel1" id="customer_payment" name="customer_payment">
								    <option value="Khi nhận hàng">When recive</option>
								    <option value="Thẻ điện thoại">Other</option>
								  </select>
								</div>
								<div class="form-group">
									<label class="radio-inline">Male<input type="radio" name="customer_gender" value="nam" checked></label>
									<label class="radio-inline">Femel<input type="radio" name="customer_gender" value="nữ"></label>	
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									  <label for="comment">Note for us</label>
									  <textarea class="form-control" rows="15" id="customer_note" name="customer_note"></textarea>
									</div>
								<div class="form-group">
									<button type="button" id="submit_payment" class="btn btn-primary">Hoàn tất</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="cart-totals col-md-4 pull-right">
					<div class="cart-totals-row"><h5 class="cart-total-title">Cart Totals</h5></div>
					<div class="cart-totals-row"><span>Cart Subtotal:</span> <span><%= sum %> vnđ</span></div>
					<div class="cart-totals-row"><span>Shipping:</span> <span>Free Shipping</span></div>
					<% if(typeof logined !== 'undefined'){ %>
						<div class="cart-totals-row" style="text-align: center"><a href="/users/login"><button class="btn btn-primary" id="user_checkout">Checkout</button></a></div>
					<% }else{ %>
						<div class="cart-totals-row" style="text-align: center"><a href="/users/login"><button class="btn btn-primary" id="user_checkout">Login to checkout</button></a></div>
						<div class="cart-totals-row" style="text-align: center"><button class="btn btn-info" data-toggle="collapse" data-target="#normal_checkout">Checkout without login</button></div>
					<% } %>
				</div>

				<div class="clearfix"></div>
			</div>
			<!-- End of Cart Collaterals -->
			<div class="clearfix"></div>

		</div> <!-- #content -->
	</div> <!-- .container -->
    <%- include('blocks/footer') %>
	<%- include('blocks/links_javascript') %>
</body>
</html>